<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Projects</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button ion-button full color="primary" (click)="openModal()">Add Project!</button>
  <ion-list no-lines>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon name="ios-arrow-dropleft-circle" item-left></ion-icon>
      {{item.name}}
      <div class="item-note" item-right>
        {{item.date_created}}
      </div>
    </button>


  </ion-list>
</ion-content>



