<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Project Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <h3 *ngIf="selectedItem">
    {{selectedItem.name}}
  </h3>
  <small>{{selectedItem.date_created}}</small>
  <h4 *ngIf="selectedItem">
    <p>{{selectedItem.description}}</p>
  </h4>
</ion-content>
