<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>LOGIN</ion-title>
  </ion-navbar>
</ion-header> -->
<ion-header>
  <ion-navbar>
    <ion-title text-center>Login</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <!--p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p-->

  <ion-list no-lines>

      <form [formGroup]="authForm">

          <ion-item>
              <ion-label floating>Email Address</ion-label>
              <ion-input [class.invalid]="!authForm.controls.emailAddress.valid && submitAttempt" formControlName="emailAddress" type="text"></ion-input>
          </ion-item>
          <ion-item *ngIf="!authForm.controls.emailAddress.valid && submitAttempt">
              <p>Invalid Email Address.</p>
          </ion-item>

          <ion-item>
              <ion-label floating>Password</ion-label>
              <ion-input formControlName="passwd" type="text" [class.invalid]="!authForm.controls.passwd.valid && submitAttempt"></ion-input>
          </ion-item>
          <ion-item *ngIf="!authForm.controls.passwd.valid && submitAttempt">
              <p>Password must be less than 4 characters.</p>
          </ion-item>

      </form>

  </ion-list>
  <button ion-button full color="primary" (click)="save()">Create Account!</button>
</ion-content>
