<ion-header>
  <ion-navbar>
    <ion-title text-center>Create Project</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list no-lines>

    <form [formGroup]="addPjctForm">

        <ion-item>
            <ion-label floating>Project Name</ion-label>
            <ion-input [class.invalid]="!addPjctForm.controls.projectName.valid && submitAttempt" formControlName="projectName" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="!addPjctForm.controls.projectName.valid && submitAttempt">
              <p>This field is required.</p>
        </ion-item>

        <ion-item>
            <ion-label floating>Project Details</ion-label>
            <ion-textarea [class.invalid]="!addPjctForm.controls.projectDescription.valid && submitAttempt" formControlName="projectDescription"></ion-textarea>
        </ion-item>
        <ion-item *ngIf="!addPjctForm.controls.projectDescription.valid && submitAttempt">
              <p>This field is required.</p>
        </ion-item>
    </form>

  </ion-list>
  <button ion-button full color="primary" (click)="save()">Create Project!</button>
</ion-content>



